.modal-open {
  overflow: hidden;
}

.modal-back {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  visibility: hidden;
  transition: .3s all;


  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 501;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: .3s all;


  &.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  &__content {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    vertical-align: middle;
    background: white;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}