$titleColor: mediumorchid;

@font-face {
  font-family: "Mouse Memoirs";
  src: url("../assets/fonts/MouseMemoirs-Regular.ttf") format("ttf");
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: "Mouse Memoirs";
  font-size: 20px;
  line-height: 30px;
  color: $titleColor;
}

.block {
  width: 1000px;
  height: 200px;
  background: url("../assets/images/snail.jpg") no-repeat center / contain;
}

.circle {
  transition-property: width, height;
  transition-duration: 2s;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  background-color: red;
  border-radius: 50%;
}

.message-ball {
  font-size: 20px;
  line-height: 200px;
  text-align: center;
}